@import url(general.css);

/* ************************************************************ */
/* *************NAVIGATION BAR*********************************** */

header{
    padding: 1.5rem;
    display: flex;
    align-items: center;
    gap: 10rem;
    justify-content: space-between;
    background-color: #E0DFDB;
    
    
}

.nav-brand{
        font-size: 2rem;
        font-weight: 700;
        
}

/* .main-nav{
    display: flex;
    align-items: center;
    justify-content: center;
} */


.main-nav-links{
    display: flex;
    list-style: none;
    /* text-align: center;*/
    /* justify-content: space-between; */
    gap: 5rem;

}

.main-link:link,
.main-link:visited{
    font-size: 1.4rem;
    color: #000;
    text-decoration: none;
    transition: all 0.3s;
}

.main-link:hover,
.main-link:active{
    font-size: 1.6rem;
    color: #000000ca;
    text-decoration: none;
}



.register-btn{
    margin-left: auto;
    font-size: 1.4rem;
    color: #000;
    text-decoration: none;
}

.register-btn:link,
.register-btn:visited{
    padding: 1rem 2rem;
    background-color: #000;
    color: #fff;
}

.register-btn:hover,
.register-btn:active{
    padding: 1rem 2rem;
    background-color: #222;
    color: #fff;
}

.btn-menu{
    padding: 1.2rem 2.4rem;
    display: none;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.btn-menu ion-icon{
    font-size: 3.2rem;
    color: #000;
    display: none;
}



/* ************************************************************ */
/* *************Cover Image Section*********************************** */

.section-cover-img{
    height: 60vh;
    background-image: url("../img/cover-image.webp");
    background-position:center;
    background-size: cover;
    background-repeat: no-repeat;
}


/* ************************************************************ */

/* ************************************************************ */
/* *************Hero Section*********************************** */
.section-hero{
    padding: 2rem 2rem 10rem 2rem;
    background-color: #E0DFDB;
    overflow: hidden;
}

.brand{
    text-align: center;
    margin-bottom: 10rem;
    width: 100%;
}

.brand-name{
    line-height: 0.9;
    text-align: center;
    font-size: 30rem;
    transform: scaleX(1.2);
}
.brand span{
    margin: 0 10rem;
}

.hero-grid{
    /* display: grid;
    grid-template-columns: repeat(4,1fr); */
    column-gap: 3rem;
    row-gap: 5rem;
}

.hero-grid img{
    width: 100%;
    
}








/* ************************************************************ */


/* ************************************************************ */
/* *************Insider Section*********************************** */

.section-insider{
    background-color: black;
    border-bottom: 2px solid rgba(224, 223, 219, 0.255);
   
}

.section-insider>p{
    padding: 10rem 2rem 5rem 2rem;
    border-bottom: 2px solid rgba(224, 223, 219, 0.255);
}

.insider-content{
    font-size: 2.4rem;
    color: white;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    column-gap: 2rem;

}

.insider-content img{
    width: 100%;
}

.insider-content-main-img{
    grid-row: span 2;
}

.insider-description{
    width: 60%;
    grid-column: span 2;
    display: flex;
    flex-direction: column;
    gap: 10rem;
}

.insider-content-side-img{
    align-self: flex-end;
}



/* ************************************************************ */

/* ************************************************************ */
/* *************Collection Section*********************************** */
.section-collection{
    background-color: black;
    border-bottom: 2px solid rgba(224, 223, 219, 0.255);
   
}
.section-collection>p{
    padding: 5rem 2rem 5rem 2rem;
    /* border-bottom: 2px solid rgba(224, 223, 219, 0.255); */
}

.grid-collections{
    padding-top: 0;
}

.grid-collections img{
    width: 100%;
    
}

.grid-collections span{
    color: #E0DFDB;
}


/* ************************************************************ */

/* ************************************************************ */
/* *************Outfit Collection 1 Section*********************************** */

.section-outfit-1{
    background-color: #E0DFDB; 
    padding: 5rem 2rem 5rem 2rem;
    border-bottom: 2px solid rgba(224, 223, 219, 0.255);
}

.grid-outfit-collection{
    padding-bottom: 4rem;
    border-bottom: 2px solid rgba(5, 4, 0, 0.255);
}

.grid-outfit-collection img{
    width: 100%;
    
}

.grid-container.main-1{
    grid-column: span 2;
    background-image: url("../img/Outfit-collection-1/model13.webp");
    background-position: bottom;
    background-size: cover;
}

.item-details{
    margin-top: 0rem;
    
}

.main-1.item-details{
    padding: 3rem 2rem;
    align-items: end;
    justify-content: space-between;
}

.main-1  .primary-heading{
    width: 50%;
    
}

.main-1.item-details ion-icon{
    font-size: 3.2rem;
    background-color: #E0DFDB;
    text-decoration: none;
    padding: 2.4rem 2.4rem;
    color: #000;
    border-radius: 50%;
}
    /* Collection 2 */

.grid-outfit-collection2{
    padding-top:4rem ;
}

.grid-outfit-collection2 img {
    width: 100%;
}

.grid-container.main-2{
    grid-column: span 2;
    background-image: url("../img/outfit-2/model5.webp");
    background-position: center;
    background-size: cover;
}

.main-2.item-details {
    padding: 3rem 2rem;
    align-items: end;
    justify-content: space-between;
}

.main-2  .primary-heading{
    width: 50%;
    
}

.main-2.item-details ion-icon{
    font-size: 3.2rem;
    background-color: #E0DFDB;
    text-decoration: none;
    padding: 2.4rem 2.4rem;
    color: #000;
    border-radius: 50%;
}



/* ************************************************************ */


.section-cover-img-footer{
    height: 60vh;
    background-image: url("../img/footer-cover.webp");
    background-position:center;
    background-size: cover;
    background-repeat: no-repeat;
}

/* ************************************************************ */
/* *************Outfit Collection 1 Section*********************************** */
.section-footer{
    background-color: #E0DFDB;
}

.footer-nav{
    padding: 2rem;
    border-bottom: 2px solid rgba(17, 17, 17, 0.426);
}

.footer-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-nav-links{
    list-style: none;
    display: flex;
    gap: 5rem;
    
}

.footer-links{
    font-size: 1.4rem;
    color: #000;
    text-decoration: none;
}

.section-footer .brand{
    border-bottom: 2px solid rgba(17, 17, 17, 0.426);
    margin-bottom: 0;
}

.about{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    
}

.about .teritory-heading{
    color: #777;
    font-size: 1.4rem;
}
/* ************************************************************ */


/* FONT SIZE SYSTEM (px)
    10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98 
    
    line height(in px)
    2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
    
    */